*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;


}
.head-first{
    display: flex;
    justify-content: space-around;
    
   
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    

}
.head-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.head-info{
color:rgba(39, 39, 39, 0.60); 
font-size: 10px;
font-weight: 400;
width: 400px;
margin:32px 0px;
}
/* .head-fic{
    width: 635px;
height: 800px;
flex-shrink: 0;
margin-bottom: 0;
} */
.head-pic{
    height: 350px;margin-top: 30px;
    padding-bottom: 0px;
    
}
.primary-btn{
    background:#E55473;
    color:#FFF;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    border-style: none;
   
    font-weight: 400;
    
}
.feature-title{
    text-align: center;
    
    font-size: 40px;
    font-weight: 400;margin: 200px;
    
    
}
.f-info{
    font-weight: 400;
line-height: 30px;
font-size: 20px;



}
.sign-up-sec{
    display: flex;
    justify-content: space-around;
    background: rgba(175, 65, 89, 0.20);
    align-items: center;
    /* width: 1922px;
height: 620px;
flex-shrink: 0; */
border-radius: 8px;
gap: 100px;

}
.discount{
    color: red;
}
.discount-info{
    width: 600px;
    height: 80px;
    margin-top: 10px;
}  
.foot{
    background: #111010;
    /* width: 1922px; */
height: 449px;
flex-shrink: 0;text-align: center;


}
.font{
    color: #E55473;
}
.footer-info{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
}
.copy-mama{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.shop{
    color: #FFFF
}

/* bonus part style */
.bonus-1{
display: flex;
align-items: center;
text-align: center;
justify-content: center; gap: 50px;
margin: 50px;
}
.b-f-1{
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
border-top: 500px;
}
.b-f-2{
    width: 370px;
    height: 370px;border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.b-f-3{
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}