*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;


}
.head-first{
    display: flex;
    justify-content: space-around;
    
   
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    

}
.head-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.head-info{
color:rgba(39, 39, 39, 0.60); 
font-size: 10px;
font-weight: 400px;
width: 400px;
margin:32px 0px;
}
/* .head-fic{
    width: 635px;
height: 800px;
flex-shrink: 0;
margin-bottom: 0;
} */
.head-pic{
    height: 350px; 
    margin-top: 30px;
    padding-bottom: 0px;
    margin: 0px;
    
}
.primary-btn{
    background:#E55473;
    color:#FFF;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
    border-style: none;
   
    font-weight: 300px;
    
}
.feature-title{
    text-align: center;
    
    font-size: 40px;
    font-weight: 400;
    margin: 50px;
    
    
}
.f-info{
    font-weight: 200px;
line-height: 30px;
font-size: 10px;



}
.sign-up-sec{
    display: flex;
    justify-content: space-around;
    background: rgba(175, 65, 89, 0.20);
    align-items: center;
    /* width: 800px;
height: 420px;
flex-shrink: 0; */
border-radius: 8px;
gap: 50px;
padding-left: 50px;


}
.sign-pic{
    width: 318px;
height: 420px;
}
.discount{
    color: red;
}
.discount-info{
    width: 600px;
    height: 80px;
    margin-top: 10px;
}  
.foot{
    background: #111010;
   
height: 249px;
;text-align: center;
align-items: center;
padding-top: 50px;


}
.font{
    color: #E55473;
}
.footer-info{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    
    font-size: 10px;
   
    font-weight: 200px;
    line-height: 30px;
    margin: auto;

    
}
.copy-mama{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;

font-weight: 400px;

}
.shop{
    color: #FFFF
}

/* bonus part style */
.bonus-1{
display: flex;
align-items: center;
text-align: center;
justify-content: space-evenly; gap: 20px;
margin: 50px;
background: #FFF;
/* height: 180px;
width: 150px; */
}
.b-f-1{
    width: 150px;
    height: 170px;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
border-top: 500px;
}
.b-f-2{
    width: 150px;
    height: 170px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.b-f-3{
    width: 150px;
    height: 170px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.support-sec{
    display: flex;
    justify-content: space-around;
   
    align-items:center;
    width:80%;
height: 150px;
margin: auto;
margin-bottom :100px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);gap: 20px;
}
.feature-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.photo{
    width: 150px;
    height: 180px;
}
.deal{
    background-size: cover;
    background-image: url(./images/Rectangle\ 9.png);
    width: 70%;
    height: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
   
}
.input{
    display: flex;justify-content: center;
    gap: 10px;


}
/* .info{
    width: 200px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
} */
.info-item{
    width: 200px;
    height: 40px;
    border-radius: 5px;
   
}
.extra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f8b6c4;
    text-align: center;
    gap: 50px;
    margin-bottom: 50px;
}
.extra-2{
    background: #f5d8de;
    text-align: center;
    width: 400px;
    border: 5px solid fixed;
    border-radius: 15px;
    margin: auto;
    height: 350px;
    margin-bottom: 50px;
    align-items: center;
    box-shadow: 4px 8px 4px grey;
}